body {
	text-align: center;
	background-color: black;
	color: lawngreen;
	font-family: "Courier New";
}

h1 {
	font-size: 51px;
	margin-bottom: 22px;
}

#click-play {
	font-size: 19px;
}

.instructions {
	text-align: left;
}

a {
	text-decoration: none;
	color: lawngreen;
	font-family: "Courier New";
	font-size: 16px;
}

button {
	background-color: black;
	margin-bottom: 40px; 
}

input {
	width: 290px;
	font-size: 20px;
	color: lawngreen;
	font-family: "Courier New";
	border-color: lawngreen;
	background-color: black;
	outline-color: lawngreen;
}

/*.selected {
	color: grey;
	text-decoration: line-through;
	display: show;
}

.hidden {
	display: none;
}*/